<h1> List of Artists </h1>
<button><a href="/artists/new">Add Artist</a></button>
<ul>
  <% @artist.each do |artist| %>
    <li><img src="<%= artist.photo_url %>" /></li>

    <li><a href="/artists/<%=artist.id%>/songs"><%= artist.name %></a></li>

    <%= link_to "Edit Artist", {controller: "artists",action: "edit", id: "#{artist.id}"}%>

    <%= button_to "Delete Artist", { action: "destroy", id: artist.id}, method: :delete, data: { confirm: "Are you sure?"} %><br />

  <% end %>
</ul>
