<h1> Edit User Info </h1>

<% if @update == false %>
  <div id="errors">
    <h3> Errors!! </h3>
    <ul>

      <% @user.errors.messages.each do |field, error| %>
      <li><%= "#{field.capitalize}: #{error.first}" %></li>
      <% end %>

    </ul>
  </div>
<% end %>

<form action="/users/<%=@user.id%>" method="post">
  <input type="hidden" name="_method" value="patch">
  <input name='authenticity_token' type='hidden' value='<%= form_authenticity_token %>' />
  <label>
    First Name:
    <input type='text' name='first_name' value='<%= @user.first_name%>'/>
  </label>

  <label>
    Last Name:
    <input type='text' name='last_name' value='<%= @user.last_name%>'/>
  </label>

  <label>
    Email:
    <input type='text' name='email' value='<%= @user.email%>'/>
  </label>

  <label>
    Date of Birth:
    <input type='date' name='dob' value='<%= @user.dob%>'/>
  </label>

  <label>
    Gender:
    <input type='text' name='gender' value='<%= @user.gender%>'/>
  </label>

  <label>
    Facebook Link:
    <input type='text' name='facebook_link' value='<%= @user.facebook_link%>'/>
  </label>

  <label>
    Password:
    <input type='password' name='password' />
  </label>

  <button> Complete Update</button>
</form>