<h1> Edit User Info </h1>

<% if @update == false %>
  <div id="errors">
    <h3> Errors!! </h3>
    <ul>

      <% @user.errors.messages.each do |field, error| %>
      <li><%= "#{field.capitalize}: #{error.first}" %></li>
      <% end %>

    </ul>
  </div>
<% end %>

<%= form_for @user, url: {action: "update"} do |f| %>
<%= f.label :first_name %>
<%= f.text_field :first_name %>
<%= f.label :last_name %>
<%= f.text_field :last_name %>
<%= f.label :email %>
<%= f.text_field :email %>
<%= f.label :birthdate %>
<%= f.date_field :dob %>
<%= f.label :gender %>
<%= f.text_field :gender %>
<%= f.label :facebook_link %>
<%= f.url_field :facebook_link %>
<%= f.label :password %>
<%= f.password_field :password %>
<%= f.submit %>
<% end %>