<h1> Sign Up for TunR! </h1>

<% unless @user.errors.messages.empty? %>
  <div id="errors">
    <h3> Errors!! </h3>
    <ul>

      <% @user.errors.messages.each do |field, error| %>
      <li><%= "#{field.capitalize}: #{error.first}" %></li>
      <% end %>

    </ul>
  </div>
<% end %>

<%= form_for @user do |f| %>
<%= f.label :first_name %>
<%= f.text_field :first_name %><br />
<%= f.label :last_name %>
<%= f.text_field :last_name %><br />
<%= f.label :email %>
<%= f.text_field :email %><br />
<%= f.label :birthdate %>
<%= f.date_field :dob %><br />
<%= f.label :gender %>
<%= f.text_field :gender %><br />
<%= f.label :facebook_link %>
<%= f.url_field :facebook_link %><br />
<%= f.label :password %>
<%= f.password_field :password %><br />
<%= f.submit "create" %>
<% end %>
