<h1> Info for <%= @user.first_name %> <%= @user.last_name %></h1>

<p>Email: <%= @user.email %> </p>
<p>Date of Birth: <%= @user.dob %> </p>
<p>Gender: <%= @user.gender %> </p>
<p>Facebook Page: <%= @user.facebook_link %> </p>
<p>Password: <%= @user.password %> </p>


<%=link_to "Update Info", {controller: "users",action: "edit", id: "#{@user.id}"}%>

<%= button_to "Delete Account", { action: "destroy", id: @user.id}, method: :delete, html: "del", data: { confirm: "Are you sure?"} %>

