<h1> Songs by <%= @artist.name %> </h1>
<button><a href="songs/new">Add New Song</a></button>
<br></br>
<img src="<%= @artist.photo_url %>" />
<p>Genre: <%= @artist.genre %></p>
<ul>
  <% @songs.each do |song| %>
    <li><%= song.title %>: <%= song.year %></li>

    <li><button><a href="/artists/<%=@artist.id%>/songs/<%=song.id%>/edit">Edit</a></button></li>

    <form action="/artists/<%= @artist.id%>/songs/<%=song.id%>" method="POST">

    <input type="hidden" name="_method" value="delete">
    <input name='authenticity_token' type='hidden' value='<%= form_authenticity_token %>' />

    <button>Delete</button>
    </form>
    <br></br>
  <% end %>
</ul>
<button><a href="/artists">Main Page</a></button>