<h1> Songs by <%= @artist.name %> </h1>
<button><a href="songs/new">Add New Song</a></button>
<br></br>
<img src="<%= @artist.photo_url %>" />
<p>Genre: <%= @artist.genre %></p>
<ul>
  <% @songs.each do |song| %>
    <li><%= song.title %>: <%= song.year %></li>
      <audio controls>
        <source src="<%= song.preview_url %>">
      </audio>
      <br />

    <%= link_to "Edit Song", {controller: "songs",action: "edit", id: "#{song.id}"}%>
    <%= button_to "Delete Song", { action: "destroy", id: song.id}, method: :delete, data: { confirm: "Are you sure?"} %><br />
  <% end %>
</ul>
<button><a href="/artists">Main Page</a></button>